
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hata</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Tema/Uygulamaici/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container ortayer">
        <h2 class="text-center">Hata, birşeyler yanlış gitti.</h2>
    </div>
</body>
</html>
