
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sanal Toplanti</title>
    <link href="~/Tema/Uygulama/stil.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row butonlar">
            <div class="col-md-6"><a href="@Url.Action("Create","App")"><img src="~/Tema/Uygulamaici/images/odaya_ac_1.png" class="oda_ac" /> </a> </div>
            <div class="col-md-6"><a href="@Url.Action("Create","App")"><img src="~/Tema/Uygulamaici/images/odaya_katil_1.png" class="odaya_katil" id="odaya_katil" /> </a></div>
        </div>

    </div>


</body>
</html>
