@model YazilimMuhendisligiOdev.Models.GirisVeriler

@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Master/_master1.cshtml";
}

<div class="container-fluid main" id="page-top">
    <div class="row">
        <div class="col-md-12 backg">
            <div class="col-md-4 col-md-offset-4 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
                <div class="text-box">
                    <h1>Giriş Yap</h1>
                    @Html.ValidationSummary()
                    @using (Html.BeginForm())
                    {
                        <div class="form-horizontal ustten_bosluk">
                            <div class="form-group">
                                <div class="col-md-4">Kullanıcı Adı: </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.KullaniciAdi, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">Şifre: </div>
                                <div class="col-md-8">
                                    @Html.PasswordFor(m => m.Sifre, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                            </div>
                        </div>
                    }

                        </div>
            </div>
        </div>
    </div>
</div>



